h1 {
    color: #2227ba;
    font-size: 30px;
  }
  
  ul {
    list-style-type: square;
  }
  
  .gray {
    color: #8a8a8a;
  }
  
  a {
    color: green;
  }
  
  img {
    width: 20%;
  }
  
  p.total {
    font-weight: 900;
  }