body {
    font-family: "Roboto", sans-serif;
  }
  
  header {
    background-color: #00a8aa;
    margin-bottom: 0.7%;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul.nav {
    width: 50%;
    font-size: 70%;
    margin: 0 auto;
    padding: 0.7%;
  }
  
  ul.nav li {
    display: inline;
    margin: 0 5%;
  }
  
  ul.nav a {
    color: #fff;
    text-decoration: none;
  }
  
  div.burger-image {
    width: 100%;
    height: 230px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
    background-size: cover;
    background-position: center;
  }
  
  p.caption-bbq {
    background-color: #00a8aa;
    font-family: "Oswald", sans-serif;
    width: 70%;
    font-size: 200%;
    text-align: center;
    color: #fff;
    padding: 1.2%;
    margin: 0 auto;
    position: absolute;
    left: 15%;
  }
  
  p.about-bbq {
    text-align: center;
    color: #a4a4a4;
  }
  
  button {
    background-color: #fff;
    text-align: center;
    border: 1px solid #0101ff;
    border-radius: 5px;
    padding: 1.5% 0;
    display: block;
    width: 16%;
    margin-left: 40.9%;
    margin-top: 4%;
    margin-bottom: 5%;
    outline: 0 solid #00a8aa;
    transition-property: background-color, color;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 100ms;
  }
  
  button:hover {
    background-color: #00a8aa;
    color: #fff;
    cursor: pointer;
  }
  
  div.composition { 
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  
  div.calories {
    background-color: #00a8aa;
    display: inline-block;
    width: 16.7%;
    text-align: center;
    color: #fff;
    padding: 1%;
    margin-right: 0.5%;
  }
  
  .key, .value {
    padding: 0;
    margin: 0;
  }
  
  .key {
    font-size: 70%;
  }
  
  .value {
    font-size: 130%;
  }